<!DOCTYPE html>
<html>
  <head>
    <title>WILDLIFE TRACKER</title>
     <link rel='stylesheet' href='/app.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



  </head>
  <body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark success-color-dark">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">WAKANDA</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto my-0">

      <li class="nav-item">
        <a class="nav-link" href="/form">Add Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sightings">Add Sighting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views">Sightings</a>
      </li>



    </ul>
    <!-- Links -->


  </div>
  <!-- Collapsible content -->

</nav>


    <div class="container">
      #parse( $template )
    </div>


<!-- Footer -->
<footer class="page-footer font-small success-color-dark pt-4 bottom ">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">WAKANDA PARK</h5>
        <p>The park was establised in 1992 to care for, protect and restore our natural wildlife. </p>

      </div>


      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/form">Add Information/data</a>
          </li>
          <li>
            <a href="/sighings">Add a sighting</a>
          </li>
          <li>
            <a href="/views">View the information</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> 2019 Copyright:
    <a href="#"> WAKANDA PARK</a>
  </div>
  <!-- Copyright -->

</footer>

 <script src="/script.js"></script>
  </body>
</html>